{% extends 'bookmarks/base.html' %}

{% block title %}{{ list_name }}{% endblock %}

{% block body_block %}
<div class="hero-unit">
    <div class="container">
        <form class ="form-horizontal" id="link_form" method="post" action="/bookmarks/list/{{ list_name_url }}/add_link/"> <legend style="font-size:35px;font-family:arial;"> Add a Link </legend>

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}

            <div class="control-group">
                <label class="control-label" for="id_name"> Name</label>
                <div class="controls">
                    <input class ="form-control" type="text" placeholder = "Enter name" name="name"  id="id_name"/> 
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="id_link"> URL</label>
                <div class="controls">
                    <input class ="form-control" type="url" placeholder = "URL" name="link"   id="id_link"/> 
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="id_tags"> Tags</label>
                <div class="controls">
                    <textarea class = "form-control" rows= "3" id="id_tags" name="tags" > </textarea> 
                </div>
            </div>




            <br/>
            <button class="btn btn-primary" type="submit" name="submit">Create Link</button>
        </form>
    </div>
</div>

{% endblock %}