<!DOCTYPE html>
<html>
    <head>
        <title>Bookmarks</title>
    </head>

    <body>
        <h1>Lists</h1>

        {% if lists %}
            <ul>
                {% for list in lists %}
                <li><a href="/bookmarks/list/{{ list.url }}">{{ list.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no lists present.</strong>
        {% endif %}

        {% if user.is_authenticated %}
        <a href="/bookmarks/restricted/">Restricted Page</a><br />
        <a href="/bookmarks/logout/">Logout</a><br />
        {% else %}
        <a href="/bookmarks/register/">Register Here</a><br />
        <a href="/bookmarks/login/">Login</a><br />
        {% endif %}
        <a href="/bookmarks/add_list/">Add a New List</a><br />

    </body>
</html>